.log {
  width: 50%;
  margin: auto;
}
#is_rent {
  width: 20px;
}
.contratitem {
  display: flex;
  flex-direction: column;
}
.mi-button {
  margin-left: 20px;
}
.bt {
  margin-top: 10px;
}

.mi-div {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease;
  display: none;
  background-image: var(--bs-gradient);
}
.contratitem {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  transition: margin-left 0.5s ease; 
}
.contenedor:hover .mi-div {
  width: 50px;
  display: flex;
}

.contenedor:hover .contratitem {
  margin-left: 10px;
}
.contenedor {
  background-color: blue;
}
.tenantContracts {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.contratitemdoc:hover {
  background-color: #f8d7da;
  cursor: pointer;
}
.custom-hover tbody tr:hover td{
  background-color: #A47864 !important; /* Color amarillo suave */
  color: #000 !important; /* Texto negro (opcional) */
}
.table-hover tbody tr:hover td{
  background-color: #A47864; /* Ejemplo: color naranja claro */
  color: white; /* Opcional: cambiar el color del texto */
}
.sidebar-private {
  background-color: rgba(100, 200, 255, 0.9);
}

.sidebar-private .nav-link {
  color: rgba(255, 255, 255, 0.85);
  padding-left: 1.5rem;
}

.sidebar-private .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.hero img {
  width: 80px;
  margin-bottom: 20px;
}
.btn-orange {
  background-color: #FF7A00 !important;
  border-color: #FF7A00 !important;
  color: #fff !important;
}
.btn-orange:hover {
  background-color: #e56d00 !important;;
  color: #fff !important;;
}
.btn-outline-orange {
  color: #FF7A00 !important;
  border: 1px solid #FF7A00 !important;
  background-color: transparent !important;
}

.btn-outline-orange:hover {
  background-color: #FF7A00 !important;
  color: #fff !important;
}
.feature-icon {
  font-size: 40px;
  color: #FF7A00;
}

.sidebar-private .nav-link.active-sidebar-link {
  background-color: rgba(255, 255, 255, 0.35);
  color: #ffffff;
  font-weight: bold;
  box-shadow: inset 3px 0 0 #fff;
}
.formIncidencia {
  display: flex;
  flex-direction: column;
}
.formIncidenciadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mi_alquiler:hover {
  transform: translateY(
    -8px
  ); 
  filter: drop-shadow(0px 5px 10px #000000);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important; 
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 250px; /* mismo ancho que el sidebar fijo */
  }
}

/* Spinner estilo bootstrap simple */
.spinner-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}




